<div class="ad-full-view">
  {{#if loading}}
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
  {{else if isError}}
    {{errorMessage}}
  {{else}}

    <div class="subheader">
      <div class="photo" style="background-image: url('img/ads/{{photo}}')"></div>
      {{#if photo}}
      {{else}}
        <img class="photo-filter-icon" src="img/filter-icons/{{category.id}}.svg" />
      {{/if}}
      <h2>{{title}}</h2>
    </div>

    <div class="status-details">
      <span class="type {{#compare type '===' 'buy'}}success{{else}}fail{{/compare}}">
        {{#compare type '===' 'buy'}}
          Куплю
        {{else}}
          Продам
        {{/compare}}
      </span>

      <span class="date">
        Добавлено: {{formatDate created_at 'LL'}}
      </span>

    </div>

  {{/if}}
</div>

