<div class="ad-item">
  <div class="section1">
    <div class="photo"><span class="ion-image"></span></div>
    <div class="content">
      <div class="ad-title">{{title}}</div>
      <div class="ad-description">{{description}}</div>
    </div>
  </div>
  <div class="section2">
    Section 2
  </div>
  <div class="i-bottom">
    <span class="date"><i class="ion-ios-calendar-outline"></i><span>{{formatDate updated_at 'll'}}</span></span>
    <span class="name"><i class="ion-ios-briefcase-outline"></i><span>ООО "Компаныв Тест"</span></span>
    <span class="location"><i class="ion-ios-location-outline"></i><span>{{city.title}}, {{country.title}}</span></span>

  </div>
  <div class="icon ion-ios-star-outline star"></div>
  <div class="icon ion-ios-browsers-outline tab"></div>
  <div class="icon ion-chevron-down arrow"></div>
</div>