<div class="ad-item">
  <div class="section1">
    <div class="photo"><span class="ion-image"></span></div>
    <div class="content">
      <div class="ad-title">{{title}}</div>
      <div class="ad-description">{{description}}</div>
    </div>
  </div>
  <div class="section2">
    <div class="ad-info">


    </div>
    <div class="category">
      {{#if category}}
        <p class="category-title" data-id="{{category.id}}">{{category.title}}</p>
        {{#each category.filters}}
          <div class="filter-row">
          <span class="filter-title">{{title}}</span>
          {{#each items}}{{#if selected}}{{#if @first}}{{else}}, {{/if}}{{value}}{{/if}}{{/each}}
          </div>
        {{/each}}
      {{/if}}
    </div>

  </div>
  <div class="i-bottom">
    <span class="date"><i class="ion-ios-calendar-outline"></i><span>{{formatDate updated_at 'll'}}</span></span>
    {{#if company}}
      <span class="name"><i class="ion-ios-briefcase-outline"></i><span>{{userName.name}}</span></span>
    {{else}}
      <span class="name"><i class="ion-ios-person-outline"></i><span>{{userName.name}} {{userName.lastName}}</span></span>
    {{/if}}
    <span class="location"><i class="ion-ios-location-outline"></i><span>{{city.title}}, {{country.title}}</span></span>

  </div>
  <div class="icon ion-ios-star-outline star"></div>
  <div class="icon ion-ios-browsers-outline tab"></div>
  <div class="icon ion-chevron-down arrow"></div>
</div>