<div class="ad-item">
  <div class="section1">
    <div class="photo" style="background-image: url('img/ads/{{photo}}')">
      <span class="label label-{{#compare type '===' 'buy'}}success{{else}}danger{{/compare}}">
        {{#compare type '===' 'buy'}}
          Куплю
        {{else}}
          Продам
        {{/compare}}
      </span>
      {{#if photo}}
      {{else}}
        <img class="photo-filter-icon" src="img/filter-icons/{{category.id}}.svg" />
      {{/if}}
    </div>
    <div class="content">
      <div class="ad-title">
        {{title}}
        {{#if isLoggedIn}}
          {{#compare currentUserId '===' userId}}
            <a class="edit-ad" href="#profile/ads/edit/{{_id}}"><span class="ion-edit"></span></a>
            <a class="delete-ad"><span class="ion-trash-b"></span></a>
          {{/compare}}
        {{/if}}
      </div>
      <div class="ad-description hidden-xs">{{description}}</div>
    </div>
  </div>
  <div class="section2">


    <nav class="brd-nav-tabs">
      <ul>
        <li>
          <a class="nav-tab-item active" data-state="roles">
            Подробнее
          </a>
        </li>
        {{#if isLoggedIn}}
        <li>
          <a class="nav-tab-item" data-state="send-form">
            Сообщения
          </a>
        </li>
        {{/if}}
      </ul>
    </nav>

    <!-- Tabs content -->
    <div class="tab-region">

      <div class="category">
        {{#if category}}

          <table class="filters-table">
            <tr class="table-header">
              <th class="category-title">{{category.title}}</th>
            </tr>
            {{#each category.filters}}
              {{#compare level '===' 'parent'}}
                <tr class="filter-row">
                  {{#if title}}
                    <td>
                      <span class="filter-title">{{title}}</span>
                    </td>
                  {{/if}}
                  <td class="parent-col"><span class="dash">-</span>
                    {{#each items}}
                      {{#if selected}}
                        <div class="parent">
                          <span class="parent-title">{{title}}</span>
                          {{#each items}}
                            {{#if selected}}
                              <i>{{value}}</i>
                            {{/if}}
                          {{/each}}
                        </div>
                      {{/if}}
                    {{/each}}
                  </td>
                </tr>
              {{else}}
                <tr class="filter-row">
                  {{#if title}}
                    <td><span class="filter-title">{{title}}</span></td>
                  {{/if}}
                  <td class="first-level">
                    {{#each items}}
                      {{#compare type '===' 'input'}}
                        {{#if selected}}
                          <div class="overlay">
                            {{#if label}}
                              <i>{{label}}</i>:
                            {{/if}}
                            {{#if from}}от {{from}}{{/if}}
                            {{#if to}}до {{to}}{{/if}}
                          </div>
                        {{/if}}
                      {{else compare type '===' 'input-sizes'}}
                        {{#each values}}
                          {{#if t}}
                            {{#if s}}
                              {{#if d}}
                                <div class="size-row">{{t}}<b class="iks">&#9747;</b>{{s}}<b class="iks">&#9747;</b>{{d}}</div>
                              {{/if}}
                            {{/if}}
                          {{/if}}

                        {{/each}}
                      {{else}}
                        {{#if selected}}
                          <span>{{value}}</span>
                        {{/if}}
                      {{/compare}}
                    {{/each}}
                  </td>
                </tr>
              {{/compare}}
            {{/each}}
            <tr>
              <td>

              </td>
            </tr>
          </table>




        {{/if}}
        <div class="message hidden"></div>

      </div>

    </div>
    <!-- end of Tabs content -->

    {{#if price}}
      <div class="price">Цена: {{price}}</div>
    {{/if}}
    <div class="phones">
      {{#each contacts.phones}}
        {{#if this}}
          <div class="ion-android-call"> {{this}}</div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="i-bottom">
    <span class="date"><i class="ion-ios-calendar-outline"></i><span class="m-l-05">{{formatDate updated_at 'll'}}</span></span>
    {{#if company}}
      <span class="name"><i class="ion-person-stalker"></i><span class="m-l-05">{{userName.name}}</span></span>
    {{else if userName}}
      <span class="name">
        <span class="user-avatar" style="background-image: url('img/avatar/{{userId}}.png')"></span>
        <i class="ion-ios-person-outline"></i>
        <span class="m-l-05">{{userName.lastName}} {{userName.name}} {{userName.middleName}}</span>
      </span>
    {{/if}}
    <span class="location"><i class="ion-ios-location-outline"></i><span class="m-l-05">{{#if city.title}}{{city.title}},{{/if}} {{country.title}}</span></span>
  </div>
  <div class="icon ion-ios-browsers-outline tab"></div>
  <div class="icon ion-chevron-down arrow"></div>
</div>