<div class="ad-item">
  <div class="section1">
    <div class="photo" style="background-image: url('img/ads/{{photo}}')">
      <div class="type {{type}}">
        {{#compare type '===' 'buy'}}
          Куплю
        {{else}}
          Продам
        {{/compare}}
      </div>
      {{#if photo}}
      {{else}}
        <span class="ion-image">{{photo}}</span>
      {{/if}}
    </div>
    <div class="content">
      <div class="ad-title">{{title}}</div>
      <div class="ad-description hidden-xs">{{description}}</div>
    </div>
  </div>
  <div class="section2">
    <div class="ad-info">
      {{#if isLoggedIn}}
        <button type="button" class="btn btn-default send-message">
          <span class="ion-ios-email-outline"></span>
        </button>
      {{/if}}
    </div>

    <div class="category">
    {{#if category}}
      <table class="filters-table">
        <tr class="table-header">
          <th class="category-title">{{category.title}}</th>
        </tr>
        {{#each category.filters}}
          {{#compare level '===' 'parent'}}
            <tr class="filter-row">
              {{#if title}}
                <td>
                  <span class="filter-title">{{title}}</span>
                </td>
              {{/if}}
              <td>
                {{#each items}}
                  {{#if selected}}
                    <div class="parent">
                      <span class="parent-title">{{title}}</span>
                      {{#each items}}
                        {{#if selected}}
                          <i>{{value}}</i>
                        {{/if}}
                      {{/each}}
                    </div>
                  {{/if}}
                {{/each}}
              </td>
            </tr>
          {{else}}
            <tr class="filter-row">
              {{#if title}}
                <td><span class="filter-title">{{title}}</span></td>
              {{/if}}
              <td class="first-level">
                {{#each items}}
                  {{#compare type '===' 'input'}}
                    {{#if selected}}
                      <div class="overlay">
                        {{#if label}}
                          <i>{{label}}</i>:
                        {{/if}}
                        {{#if from}}от {{from}}{{/if}}
                        {{#if to}}до {{to}}{{/if}}
                      </div>
                    {{/if}}
                  {{else compare type '===' 'input-sizes'}}
                    {{#each values}}
                      {{#if t}}
                        {{#if s}}
                          {{#if d}}
                            <div class="size-row">{{t}}<b class="iks">&#9747;</b>{{s}}<b class="iks">&#9747;</b>{{d}}</div>
                          {{/if}}
                        {{/if}}
                      {{/if}}

                    {{/each}}
                  {{else}}
                    {{#if selected}}
                      <span>{{value}}</span>
                    {{/if}}
                  {{/compare}}
                {{/each}}
              </td>
            </tr>
          {{/compare}}
        {{/each}}
        <tr>
          <td>
            {{#if price}}
              <div class="price"><i>Цена:</i> {{price}}</div>
            {{/if}}
          </td>
        </tr>
      </table>
    {{/if}}
      <div class="message hidden"></div>
      <div class="phones">
      {{#each contacts.phones}}
        {{#if this}}
          <span class="ion-android-call"> {{this}}</span>
        {{/if}}
      {{/each}}
      </div>
    </div>
  </div>
  <div class="i-bottom">
    <span class="date"><i class="ion-ios-calendar-outline"></i><span class="m-l-05">{{formatDate updated_at 'll'}}</span></span>
    {{#if company}}
      <span class="name"><i class="ion-ios-briefcase-outline"></i><span class="m-l-05">{{userName.name}}</span></span>
    {{else if userName}}
      <span class="name"><i class="ion-ios-person-outline"></i><span class="m-l-05">{{userName.lastName}} {{userName.name}} {{userName.middleName}}</span></span>
    {{/if}}
    <span class="location"><i class="ion-ios-location-outline"></i><span class="m-l-05">{{city.title}}, {{country.title}}</span></span>

  </div>
  <div class="icon ion-ios-browsers-outline tab"></div>
  {{#if isLoggedIn}}
    <div class="icon ion-ios-star-outline star"></div>
  {{/if}}
  <div class="icon ion-chevron-down arrow"></div>
</div>