<div class="ad-item">
  <div class="section1">
    <div class="photo"><span class="ion-image"></span></div>
    <div class="content">
      <div class="ad-title">{{title}}</div>
      <div class="ad-description">{{description}}</div>
    </div>
  </div>
  <div class="section2">
    <div class="ad-info">
      <button type="button" class="btn btn-default see-phone">
        <span class="ion-ios-telephone-outline"></span>
      </button>
      <button type="button" class="btn btn-default mail">
        <span class="ion-ios-email-outline"></span>
      </button>
    </div>
    <div class="message hidden"></div>
    <div class="category">
    {{#if category}}
      <table>
        <tr class="table-header">
          <th class="category-title">{{category.title}}</th>
        </tr>
        {{#each category.filters}}
          {{#compare level '===' 'parent'}}
            <tr class="filter-row">
              {{#if title}}
                <td>
                  <span class="filter-title">{{title}}</span>
                </td>
              {{/if}}
              <td>
                {{#each items}}
                  {{#if selected}}
                    <div class="parent">
                      <span class="parent-title">{{title}}</span>
                      {{#each items}}
                        {{#if selected}}
                          <i>{{value}}</i>
                        {{/if}}
                      {{/each}}
                    </div>
                  {{/if}}
                {{/each}}
              </td>
            </tr>
          {{else}}
            <tr class="filter-row">
              {{#if title}}
                <td><span class="filter-title">{{title}}</span></td>
              {{/if}}
              <td class="first-level">
                {{#each items}}
                  {{#compare type '===' 'input'}}
                    {{#if selected}}
                      {{#if label}}
                        <i>{{label}}</i>:
                      {{/if}}
                      {{#if from}}от {{from}}{{/if}}
                      {{#if to}}до {{to}}{{/if}}
                      <br>
                    {{/if}}
                  {{else}}
                    {{#if selected}}
                      <span>{{value}}</span>
                    {{/if}}
                  {{/compare}}
                {{/each}}
              </td>
            </tr>
          {{/compare}}
        {{/each}}

      </table>

    {{/if}}
    </div>

  </div>
  <div class="i-bottom">
    <span class="date"><i class="ion-ios-calendar-outline"></i><span>{{formatDate updated_at 'll'}}</span></span>
    {{#if company}}
      <span class="name"><i class="ion-ios-briefcase-outline"></i><span>{{userName.name}}</span></span>
    {{else}}
      <span class="name"><i class="ion-ios-person-outline"></i><span>{{userName.name}} {{userName.lastName}}</span></span>
    {{/if}}
    <span class="location"><i class="ion-ios-location-outline"></i><span>{{city.title}}, {{country.title}}</span></span>

  </div>
  <div class="icon ion-ios-star-outline star"></div>
  <div class="icon ion-ios-browsers-outline tab"></div>
  <div class="icon ion-chevron-down arrow"></div>
</div>