<div class="row">
  <div class="col-md-6">
{{#each category.filters}}

  {{!-- If Filter has childs --}}
  {{#compare level '===' 'parent'}}

    <p class="lbl" data-label="{{label}}">{{title}}</p>
    {{#each items}}
      <div class="checkbox parent">
        <label><input type="checkbox" id="{{label}}" name="{{label}}" value="{{label}}">{{title}}</label>
      </div>
      <div class="child-filters hidden">
        {{#each items}}
          {{#compare ../type '===' 'checkbox'}}
            <div class="checkbox">
              <label><input type="checkbox" id="{{label}}" name="{{label}}" value="{{label}}">{{value}}</label>
            </div>
          {{/compare}}
        {{/each}}
      </div>
    {{/each}}

  {{else}}

  {{!-- Else filter has 1 lvl --}}
    <p class="lbl" data-label="{{label}}">{{title}}</p>
    {{#each items}}
      {{#compare ../type '===' 'checkbox'}}
        <div class="checkbox">
          <label><input type="checkbox" id="{{label}}" name="{{label}}" value="{{label}}">{{value}}</label>
        </div>
      {{/compare}}
    {{/each}}

  {{/compare}}

  {{#if separator}}
    </div>
    <div class="col-md-6">
  {{/if}}

{{/each}}
  </div>
</div>