<div class="row">
  <div class="col-md-6">
{{#each category.filters}}

  {{!-- If Filter has childs --}}
  {{#compare level '===' 'parent'}}

    <p class="lbl" data-label="{{label}}">{{title}}</p>
    {{#each items}}
      <div class="checkbox parent">
        <label><input type="checkbox" id="{{label}}" name="{{label}}" value="{{label}}">{{title}}</label>
      </div>
      <div class="child-filters hidden">
        {{#each items}}
          <div class="checkbox">
            <label><input type="checkbox" id="{{label}}" name="{{label}}" value="{{label}}">{{value}}</label>
          </div>
        {{/each}}
      </div>
    {{/each}}

  {{else}}

  {{#if subtitle}}
    <div class="subtitle hidden">
      <h4>{{subtitle}}</h4>
  {{/if}}

  {{!-- Else filter has 1 lvl --}}
    <p class="lbl" data-label="{{label}}">{{title}}</p>
    {{#each items}}
      {{#compare type '===' 'input'}}
        {{#if label}}
          <div class="input-label">{{label}}</div>
        {{/if}}
        <div class="from-to-inline">
          <div class="input-filter m-r-1">
            <label for="{{id}}-from">от</label>
            <input type="number" name="inputFilter" class="form-control" id="{{id}}-from" min="0" {{#if from}}value="{{from}}{{/if}}">
          </div>
          <div class="input-filter">
            <label for="{{id}}-to">до</label>
            <input type="number" name="inputFilter" class="form-control" id="{{id}}-to" min="0" {{#if to}}value="{{to}}{{/if}}">
          </div>
        </div>
      {{else}}
        <div class="checkbox">
          <label><input type="checkbox" id="{{label}}" name="{{label}}" value="{{label}}">{{value}}</label>
        </div>
      {{/compare}}
    {{/each}}

  {{/compare}}

  {{#if separator}}
    </div>
    <div class="col-md-6">
  {{/if}}

{{/each}}
    {{#if subtitle}}
    </div>
    {{/if}}
  </div>
</div>