<form>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="image-upload">
        <label for="file-input">
          <img src="img/profile_placeholder.png"/>
        </label>

        <input id="file-input" type="file"/>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group ">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" {{#if lastName}}value="{{lastName}}"{{else}} placeholder="Фамилия"{{/if}}>
      </div>
      <div class="form-group ">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="name" {{#if name}}value="{{name}}"{{else}} placeholder="Имя"{{/if}}>
      </div>
      <div class="form-group ">
        <label for="middleName">Отчество</label>
        <input type="text" class="form-control" id="middleName" {{#if middleName}}value="{{middleName}}"{{else}} placeholder="Отчество"{{/if}}>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="work">Место работы</label>
    <input type="text" class="form-control" id="work" {{#if user.work}}value="{{user.work}}"{{/if}}>
  </div>

  <div class="form-group">
    <label for="position">Должность</label>
    <input type="text" class="form-control" id="position" {{#if user.position}}value="{{user.position}}"{{/if}}>
  </div>

  <p class="lbl">Ваше местоположение</p>
  <div class="form-group row">
    <div class="col-md-6">
      <select class="form-control">
        <option>Страна</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control">
        <option>Город</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

  <p class="lead">Контактные данные</p>
  <p class="lbl2">Будут отображаться в объявлениях</p>
  <div class="form-group short">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="example@mail.com">
    </div>
  </div>
  <div class="form-group short">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion-android-call"></i></span>
      <input type="text" class="form-control" placeholder="+375 00 0000000">
    </div>
  </div>

  <button type="submit" class="btn btn-default saveProfile">Сохранить</button>
</form>